[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-allauth = "*"
python-decouple = "*"
dj-database-url = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3"
