{% extends 'base.html' %}
{% load static %}


{% block content %}
    <p>This is the user dashboard page for user: <strong>{{ request.user }}</strong>


    <!-- Content loaded from react component -->
    <div class="m-3" id="like_button_container"></div>
    <div class="m-3" id="dislike_button_container"></div>


    <!-- Exchange object between django and javascript -->
    {{ userInfo | json_script:"userInfo" }}    
    <script>
        let obj = JSON.parse(document.getElementById('userInfo').textContent)
        console.log(obj)
    </script>

{% endblock content %}

{% block script %}
    <!-- <script src="/static/components/LikeButton.js" type="text/babel"></script> -->
    <script src="{% static 'components/LikeButton.js' %}" type="text/babel"></script>
{% endblock script %}
    
    